
.livecard-profile .live{
    padding: 10px;
    margin-top: 10px;
    background: linear-gradient(180deg, #FFFFFF 0.01%, #EDEDED 29.84%, rgba(219, 219, 219, 0) 100%);
    border-radius: 10px 10px 0px 0px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.livecard-profile .live h2{
    text-align: center;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

color: #380204;
}
.livecard-profile + .livecard-profile{
    margin-top: 130px;
}



.livecard-profile .live h3{
    text-align: center;
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #F56700;
}



.livecard-profile .live h4{
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #300000;
    padding-left: 28px;
    font-size: 30px;
}

.live-container{
    display: flex;
    justify-content: center;
}

