
.mobile-container{
    display: flex;
    justify-content: center;
}
.mobile-container .form{
    display: flex;
    flex-direction: row;
    margin-top: 40%;
}

.mobile-container .form form{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    height: 400px;
    width: 340px;
    border-radius: 8px 8px 8px 8px;
    justify-content: center;
    align-items: center;
}

.mobile-container .form form .title-register{
    align-self: center;
    font-size: 16px;
    line-height: 112.9%;
    color: rgb(37, 0, 0);
    margin-top: 30px;
    font-weight: 700;

}

.mobile-container .form form input[type="submit"]{
    width: 80% !important;
}

.mobile-container .form form .title-register a{
    align-self: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 112.9%;
    color: rgb(148, 21, 21);
    cursor: pointer;
    font-style: italic;
    text-decoration: none;
    top: 10px;
}
 
.mobile-container .form form h1{
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    color: #981E1E;
    position:unset;
    margin-bottom: 20px;
}